@charset "utf-8"
@import "normalize"
@import "bootstrap"

body
  background: #fff
  overflow-x: hidden
  text-align: center
  font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif
  font-size: 1em
.doc
  margin: 3em 0
  font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif
  font-size: 1.1em
  font-weight: 300

  a
    border: 1px solid white
    border-radius: 3px
    padding: 0.75em 0.7em
    color: white
    text-decoration: none
    transition: color 0.1s linear
    &:hover
      background: rgba(0,0,0,0.2)
      color: white
      transition: all 0.15s linear
.image
  width: 100%
  height: 100%
  background-size: cover


.vitalityy
  margin-top: -5em
  font-size: 40px
  color: white
  margin-right: 1em
  font-weight: bold
#header
  hr
    margin-top: 1px
    margin-bottom: 1px
    border-top: 0.1px solid red
    margin-right: 470px
    width: 100px



.bootstrap
  margin-right: 40px
  font-size: 15px
  font-weight: lighter
  margin-top: 4px



#contact
  hr

    margin-top: 1px
    margin-bottom: 1px
    border-top: 0.2px solid #ff0000
    margin-right: 410px
    width: 100px
.btn-yuvarlak
  border-radius: 75px
  .icon
    margin-top: 6px
    margin-left: 1px


  border: 1px solid white
  height: 30px
  width: 30px
  margin-top: 9em
  margin-left: 45em
#contactt
  #header
    background-color: black
  .fa
    size: 1.5px
  hr
    margin-top: 1px
    margin-bottom: 1px
    border-top: 0.1px solid gainsboro
    margin-right: 250px
    width: 420px
  .writing
    margin-bottom: 10px !important
    margin-top: 10px !important
    margin-left: 22em !important
    color: darkgrey !important
    text-align: left
    font-size: 12px
    font-weight: lighter !important
  .writing2
    margin-bottom: 8em !important
    margin-top: 10px !important
    margin-left: 22em !important
    color: darkgrey !important
    text-align: left
    font-size: 12px
  .btn-black
    border: 0.4px solid #000000 !important
    color: black !important
    font-size: 6px !important
    border-radius: 0
    font-weight: bold !important
    margin-top: 10px
    margin-bottom: 10px
    margin-right: 58em

    &:hover
      background-color: red
      color: white !important


hr
  border: 0

.vitality

  margin: 0 0 0 9em
.about
  font-size: 25px
  font-family: Arial
  font-weight: bold
  margin-top: 60px

.about2
  font-size: 9px
  font-weight: lighter !important
  font-family: Arial
  margin-bottom: 10px

.yazi-style
  font-size: 8px
.yazi-style2
  font-weight: bold
  margin-top: 20px
.col-sm-3
  width: 25%
.container2
  margin-right: 10px
.carousel-control
  width: 42%

.container3
  margin-left: 170px
  padding: 0
.process
  background-color: #f2f2f2
  margin-bottom: 60px
  height: 35em

  .fa
    margin-top: 90px
.resimustu-yazi
  font-family: BernhardFashion BT
  font-weight: bold
  margin-top: 34px
aside.cta-quote
  background-attachment: fixed
  background-size: cover
  font-size: 20px
  margin: auto
  margin-top: -60px
.container-fluid
  margin-right: 10em
.tasima
  margin: 10em 20em 20em  40em
.p
  margin-top: -90px

.containerr
  margin: auto
.writing
  margin-top: 180px
  font-family: Arial
  font-weight: lighter
  color: white
#pricing
  margin-top: 0
  hr
    margin-top: 1px
    margin-bottom: 1px
    border-top: 0.2px solid #ff0000
    margin-right: 480px
    width: 105px
  .about
    color: white
    margin-top: 20px
    font-weight: 900
    margin-right: 65px
  .about2
    color: white
  .black
    height: 160px !important
    width: 1000px
    background-color: #1c1c1c !important
#pricinggg
  hr
    margin-top: 1px
    margin-bottom: 1px
    border-top: 0.2px solid #ff0000
    margin-right: 430px
    width: 105px
  .yazi
    color: white
    font-size: 12px
    font-weight: bold
    margin-right: 60px
    margin-bottom: 10px
  .form-control
    width: 270px
    height: 24px
    margin-left: 28em
    border-radius: 0
    font-size: 10px
    font-weight: lighter
    margin-top: 10px
  .btn-kirmizi
    background-color: #ee2c2c
    border-radius: 0
    margin-left: 250px
    margin-top: -41px
    height: 25px
    width: 90px
    font-weight: bold


#pricingg
  hr
    margin-top: 1px
    margin-bottom: 1px
    border-top: 0.2px solid #ff0000
    margin-left: 75px
    width: 50px
  .btn-black

    border: 0.4px solid #000000 !important
    color: black !important
    font-size: 7px !important
    border-radius: 0
    font-weight: bold !important
    margin-top: 10px
    margin-bottom: 20px
    &:hover
      background-color: red
      color: white !important

  .pricing-item.featured-first
    margin-left: 100px
    margin-top: 15px
    width: 200px
    height: 275px
  .pricing-item.featured
    position: absolute
    width: 200px
    height: 300px
    margin-left: 300px
  .pricing-item
    float: left
    text-align: center
    background: white
    color: #222222
    z-index: 1
    font-size: 8px
    box-shadow: 0 0 14px 4px black
  .list-group
    padding-left: 16px
    padding-right: 16px
    padding-bottom: 5px
    padding-top: 0

  .pricing-item.featured-last
    margin-left: 200px
    margin-top: 15px
    height: 270px
    width: 200px
    float: left
  .row
    margin-left: 50px
  .list-group-item
    padding: 5px 5px
    border-radius: 0px
    border: 0.4px solid #ddd
  .col-xs-4
    position: relative
    float: left
    padding-right: 80px
    padding-left: 50px
    min-height: 5px
    margin: 0 0 0 10px
  h3
    font-size: 12px
    font-weight: bold
  .price
    font-size: 10px
    margin-top: 10px
    margin-bottom: 10px

  .number

    font-size: 23px
    font-weight: bold



#about
  hr
    margin-top: 1px
    margin-bottom: 1px
    border-top: 0.2px solid #ff0000
    margin-right: 410px
    width: 100px
#abouttt
  hr
    margin-top: 1px
    margin-bottom: 1px
    border-top: 0.2px solid #ff0000
    margin-right: 450px !important
    width: 100px
    color: red

#aboutt
  .carousel-inner
    margin-top: 3em
  hr
    margin-top: 1px
    margin-bottom: 1px
    border-top: 0.2px solid red
    margin-left: 81px
    width: 25px
  p
    font-weight: lighter
    font-size: 10px
  .fa
    size: 0.4px



  .carousel-control.right
    background-image: none !important
  .carousel-control.left
    background-image: none !important



.btn-white
  margin-top: 10px
  border-style: solid
  border-color: white
  color: white
  font-size: 10px
  border-radius: 0
.ourprocess
  margin: 0 0 0 40px
#process
  .col-xs-4
    text-align: left
    margin: 0 0 0 60px
  hr
    margin-top: 1px
    margin-bottom: 1px
    border-top: 0.2px solid #ff0000
    margin-right: 410px
    width: 100px

.daire
  border: 3px solid #000000
  height: 40px
  border-radius: 75px
  width: 40px
  margin-left: -60px
  float: left
.icon
  margin: 0.5em 0 0 0.9em
.working
  margin-top: 20px
  font-size: 12px
  font-family: "EB G"
  font-weight: bold
  margin-bottom: 1px

.image2
  background-image: url("http://media.tumblr.com/tumblr_lfmxn1lLob1qbdtzk.jpg")
  height: 40px
  width: 40px
  border-radius: 75px
  background-size: cover
  float: left

.yazi
  font-size: 8px
  color: black
  font-weight: bold
.yazi2
  color: black
  font-size: 8px
  font-weight: lighter

#portfoliolist
  .portfolio .portfolio-wrapper
    overflow: hidden
    position: relative !important
    background: #ee2c2c
    cursor: pointer
    height: 140px
    width: 200px
  .portfolio .portfolio-wrapper img
    max-width: 100%
    -webkit-filter: grayscale(0)
    position: relative
    width: 200px
    height: 150px
    &:hover
      filter: grayscale(1)
      position: relative
      height: 100px
      width: 200px
  .writing1
    margin-top: 5px
    color: white
    font-size: 9px
    font-weight: lighter
  .writing2
    color: white
    font-size: 7px
    font-weight: lighter




#work


  .portfolio .portfolio-wrapper .caption
    position: absolute
    width: 100%
    height: 75px
    box-sizing: border-box
  .portfolio
    width: 200px
    margin: 1%
    display: none
    float: left
    overflow: hidden
  hr
    margin-top: 1px
    margin-bottom: 1px
    border-top: 0.2px solid #ff0000
    margin-right: 410px
    width: 100px
  .col-xs-4
    margin: 0 0 10px 32px !important

  .carousel-control
    width: 3% !important
    margin-top: 15em

  .carousel-inner
    background-color: silver !important
  .client-logo

    height: 50px
    width: 5px
    background-attachment: fixed

  .project-name
    font-size: 24px
    font-weight: bold
    color: white
    font-family: Arial
  .web
    font-size: 11px
    font-weight: bold
    color: white
  .col-xs-12
    margin: 0 0 0 60em
    margin-top: 10em
    text-align: left
  .row
    margin: 0 0 0 10px !important
  .btn-black
    border: 0.4px solid #000000 !important
    color: black !important
    font-size: 6px !important
    border-radius: 0
    font-weight: bold !important
    margin-top: 10px
    margin-bottom: 20px
    &:hover
      background-color: red

#workk
  .carousel-inner
    background-color: #f5f5f5
    height: 25em
  hr
    margin-top: 1px
    margin-bottom: 1px
    border-top: 0.2px solid #ff0000
    margin-right: 410px
    width: 100px
  .carousel-control
    width: 40% !important

  .col-xs-12
    margin: 0 0 0 350px
  .icon
    margin-top: -12em
    color: #ffff00
  .fa
    margin-top: 120px
  .carousel-indicators .active
    background-color: black

  .carousel-indicators li
    background-color: silver
.arkaplan
  width: 1000px
  height: 400px
  max-width: 100% !important
  margin-top: 15em
  background-attachment: fixed
  opacity: 0.6
  filter: alpha(opacity=50)
.btn
  color: white
  font-size: 10px
  font-weight: lighter
.white
  margin-top: 5em
  color: white
  font-weight: bold
  font-size: 9px
.white2
  color: white
  font-weight: lighter
  font-size: 11px
.container4
  margin-left: 15em
.container5
  margin-left: 40em
  margin-top: 7em
.btn-big
  width: 1000px
  height: 75px
  background-color: black
  color: white
  font-size: 15px
  margin-top: 45px
  &:hover
    background-color: red

.btn-big-yazi
  margin-top: 22px
  margin-right: 50px