
%header#header
  .image
    %nav.navbar.navbar-white
      .container-fluid
        / Brand and toggle get grouped for better mobile display
        .navbar-header
          %button.navbar-toggle.collapsed{"aria-expanded" => "false", "data-target" => "#bs-example-navbar-collapse-1", "data-toggle" => "collapse", :type => "button"}
            %span.sr-only Toggle navigation
            %span.icon-bar
            %span.icon-bar
            %span.icon-bar
          %a.navbar-brand{:href => "#"}
            %font{:color => "white"}
              .vitality
                VITALITY
        / Collect the nav links, forms, and other content for toggling
        #bs-example-navbar-collapse-1.collapse.navbar-collapse

          %ul.nav.navbar-nav.navbar-right
            %li
              %a{:href => '#about'}
                %font{:color => "white"}
                  About
            %li
              %a{:href => "#"}
                %font{:color => "white"}
                  Process
            %li
              %a{:href => "#"}
                %font{:color => "white"}
                  Work
            %li
              %a{:href => "#"}
                %font{:color => "white"}
                  Pricing
            %li
              %a{:href => "#"}
                %font{:color => "white"}
                  Contact

%section#about
  .about
    A THEME FOR CREATIVES & AGENCIES
  .about2
    Vitality is the perfect theme for a freelance professional or an agency
  %br
  %hr
  %hr
  %br
    %br
  .container
    .row
      %br
      .col-xs-3.col-sm-3.col-md-3.col-lg-2
        %i.fa.fa-eye.fa-4x{"aria-hidden" => "true"}
        %br

        .yazi-style2
          RETİNA READY
        .yazi-style
          %br
          This theme includes the retina js plugin for easy
          %br
          retina image support so your images and
          %br
          graphics will look great on mobile devices!


      .col-xs-3.col-sm-3.col-md-3.col-lg-2
        %i.fa.fa-pencil-square-o.fa-4x{"aria-hidden" => "true"}
        %br
        .yazi-style2
          EASY TO EDIT
        .yazi-style
          %br
          Vitality is built using Bootstrap 3,and is easy to
          %br
          edit and customize.LESS files are included as
          %br
          well for deeper customization

      .col-xs-3.col-sm-3.col-md-3.col-lg-2
        %i.fa.fa-mobile.fa-4x{"aria-hidden" => "true"}
        %br
        .yazi-style2
          RESPONSIVE

        .yazi-style
          %br
          When building this theme,we've paid close
          %br
          attention to how it looks on various screen
          %br
          sizes.Try it out on a phone or tablet!
      .col-xs-3.col-sm-3.col-md-3.col-lg-2
        %i.fa.fa-heart.fa-4x{"aria-hidden" => "true"}
        %br
        .yazi-style2
          BUILT WİTH LOVE
        .yazi-style
          All of our themes are crafted with care,and we
          %br
          strive to make your experience as one of our
          %br
          customers the best as possible

%section#process
  .about
    OUR TEAM
  .about2
    We are a group of digital marketers with a passion for great art that serves a practical purpose
  %br
  %hr
  %hr
  #carousel-example-generic.carousel.slide{"data-ride" => "carousel"}

    .carousel-inner{:role => "listbox"}
      .item.active
        .container2
          .col-xs-4.col-sm-3.col-md-3.col-lg-2
            %div{:style => "background:url(https://sidneyinsitesi.files.wordpress.com/2010/01/greensunbyyumeforever.jpg); width:200px; height:200px;"}
          .col-xs-4.col-sm-3.col-md-3.col-lg-2
            %div{:style => "background:url(https://sidneyinsitesi.files.wordpress.com/2010/01/greensunbyyumeforever.jpg); width:200px; height:200px;"}7
          .col-xs-4.col-sm-3.col-md-3.col-lg-2
            %div{:style => "background:url(https://sidneyinsitesi.files.wordpress.com/2010/01/greensunbyyumeforever.jpg); width:200px; height:200px;"}

      .carousel-caption
      .item
        .container2
          .row
            .col-xs-4.col-sm-3.col-md-3.col-lg-2
              %div{:style => "background:url(https://sidneyinsitesi.files.wordpress.com/2010/01/greensunbyyumeforever.jpg); width:200px; height:200px;"}
            .col-xs-4.col-sm-3.col-md-3.col-lg-2
              %div{:style => "background:url(https://sidneyinsitesi.files.wordpress.com/2010/01/greensunbyyumeforever.jpg); width:200px; height:200px;"}7
            .col-xs-4.col-sm-3.col-md-3.col-lg-2
              %div{:style => "background:url(https://sidneyinsitesi.files.wordpress.com/2010/01/greensunbyyumeforever.jpg); width:200px; height:200px;"}

      .carousel-caption
      .item
        .container2
          .col-xs-4.col-sm-3.col-md-3.col-lg-2
            %div{:style => "background:url(https://sidneyinsitesi.files.wordpress.com/2010/01/greensunbyyumeforever.jpg); width:200px; height:200px;"}
          .col-xs-4.col-sm-3.col-md-3.col-lg-2
            %div{:style => "background:url(https://sidneyinsitesi.files.wordpress.com/2010/01/greensunbyyumeforever.jpg); width:200px; height:200px;"}7
          .col-xs-4.col-sm-3.col-md-3.col-lg-2
            %div{:style => "background:url(https://sidneyinsitesi.files.wordpress.com/2010/01/greensunbyyumeforever.jpg); width:200px; height:200px;"}

      .carousel-caption


    %a.left.carousel-control{"data-slide" => "prev", :href => "#carousel-example-generic", :role => "button"}
      %span.glyphicon.glyphicon-chevron-left{"aria-hidden" => "true"}
      %span.sr-only Previous
    %a.right.carousel-control{"data-slide" => "next", :href => "#carousel-example-generic", :role => "button"}
      %span.glyphicon.glyphicon-chevron-right{"aria-hidden" => "true"}
      %span.sr-only Next