
%header#header
  %div{:style => "background:url('images/bg-header.jpg'); width:1000px; height:490px; background-size: cover;     background-attachment: fixed"}
    %nav.navbar.navbar-white
      .container-fluid
        .navbar-header
          %button.navbar-toggle.collapsed{"aria-expanded" => "false", "data-target" => "#bs-example-navbar-collapse-1", "data-toggle" => "collapse", :type => "button"}
            %span.sr-only Toggle navigation
            %span.icon-bar
            %span.icon-bar
            %span.icon-bar
          %a.navbar-brand{:href => "#"}

            %li
              %a{:href => "#"}
                %div.vitality{:style => "background:url('images/logo.png'); width:110px; height:30px; background-size: cover;"}
        #bs-example-navbar-collapse-1.collapse.navbar-collapse

          %ul.nav.navbar-nav.navbar-right
            %li
              %a{:href => '#about'}
                %font{:color => "white"}
                  About
            %li
              %a{:href => '#process'}
                %font{:color => "white"}
                  Process
            %li
              %a{:href => "#"}
                %font{:color => "white"}
                  Work
            %li
              %a{:href => "#"}
                %font{:color => "white"}
                  Pricing
            %li
              %a{:href => "#"}
                %font{:color => "white"}
                  Contact
    %div.tasima{:style => "background:url('images/profile.png'); width:130px; height:130px; background-size: cover;"}
    .vitalityy
      VITALITY
    %hr
    %hr
    %h4
      %font{:color => "white"} By Start Bootstrap


%section#about

  .about
    A THEME FOR CREATIVES & AGENCIES
  .about2
    Vitality is the perfect theme for a freelance professional or an agency
  %br
  %hr
  %hr
  %br
    %br
  .container2
    .row
      %br
      .col-xs-3.col-sm-3.col-md-3.col-lg-2
        %i.fa.fa-eye.fa-4x{"aria-hidden" => "true"}
        %br
        .yazi-style2
          RETİNA READY
        .yazi-style
          %br
          This theme includes the retina js plugin for easy
          %br
          retina image support so your images and
          %br
          graphics will look great on mobile devices!


      .col-xs-3.col-sm-3.col-md-3.col-lg-2
        %i.fa.fa-pencil-square-o.fa-4x{"aria-hidden" => "true"}
        %br
        .yazi-style2
          EASY TO EDIT
        .yazi-style
          %br
          Vitality is built using Bootstrap 3,and is easy to
          %br
          edit and customize.LESS files are included as
          %br
          well for deeper customization

      .col-xs-3.col-sm-3.col-md-3.col-lg-2
        %i.fa.fa-mobile.fa-4x{"aria-hidden" => "true"}
        %br
        .yazi-style2
          RESPONSIVE

        .yazi-style
          %br
          When building this theme,we've paid close
          %br
          attention to how it looks on various screen
          %br
          sizes.Try it out on a phone or tablet!
      .col-xs-3.col-sm-3.col-md-3.col-lg-2
        %i.fa.fa-heart.fa-4x{"aria-hidden" => "true"}
        %br
        .yazi-style2
          BUILT WİTH LOVE
        .yazi-style
          All of our themes are crafted with care,and we
          %br
          strive to make your experience as one of our
          %br
          customers the best as possible


  .process
    .about
      OUR TEAM
    .about2
      We are a group of digital marketers with a passion for great art that serves a practical purpose
    %br
    %hr
    %hr
    #carousel-example-generic.carousel.slide{"data-ride" => "carousel"}
      .carousel-inner{:role => "listbox"}
        .item.active
          .container3
            .col-xs-4.col-sm-3.col-md-3.col-lg-2
              %div{:style => "background:url(http://g-search3.alicdn.com/img/bao/uploaded/i4/i3/TB1SCxQKVXXXXbhXXXXXXXXXXXX_!!0-item_pic.jpg_180x180.jpg); width:180px; height:180px;"}
                %br
                %br
                .resimustu-yazi
                  %font{:color => "white"}
                    PATRICIA WEST
                %hr
                %hr
                %p
                  %font{:color => "white"}
                    Marketing Director
                %ul
                  .p
                    .col-xs-4.col-sm-3.col-md-3.col-lg-2
                      %a{:href => "#"}
                        %font{:color => "white"}
                          %i.fa.fa-facebook{"aria-hidden" => "true"}

                    .col-xs-4.col-sm-3.col-md-3.col-lg-2
                      %a{:href => "#"}
                        %font{:color => "white"}
                          %i.fa.fa-twitter{"aria-hidden" => "true"}
                    .col-xs-4.col-sm-3.col-md-3.col-lg-2
                      %a{:href => "#"}
                        %font{:color => "white"}
                          %i.fa.fa-linkedin{"aria-hidden" => "true"}

            .col-xs-4.col-sm-3.col-md-3.col-lg-2
              %div{:style => "background:url(http://www.hanimlarindunyasi.com/wp-content/uploads/2014/03/Erkekler-i%C3%A7in-Mezuniyet-Balosu-K%C4%B1yafet-Kombinleri-Mens-Prom-Ball-Suit-14-180x180.jpg); width:180px; height:180px;"}
                %br
                  %br
                .resimustu-yazi
                  %font{:color => "white"}
                    HOWARD SCOTT
                %hr
                %hr
                %p
                  %font{:color => "white"}
                    Sales Manager
                %ul
                  .p
                    .col-xs-4.col-sm-3.col-md-3.col-lg-2
                      %a{:href => "#"}
                        %font{:color => "white"}
                          %i.fa.fa-facebook{"aria-hidden" => "true"}

                    .col-xs-4.col-sm-3.col-md-3.col-lg-2
                      %a{:href => "#"}
                        %font{:color => "white"}
                          %i.fa.fa-twitter{"aria-hidden" => "true"}
                    .col-xs-4.col-sm-3.col-md-3.col-lg-2
                      %a{:href => "#"}
                        %font{:color => "white"}
                          %i.fa.fa-linkedin{"aria-hidden" => "true"}
            .col-xs-4.col-sm-3.col-md-3.col-lg-2
              %div{:style => "background:url(http://www.therapatica.com/wp-content/uploads/2016/07/Kad%C4%B1n-Kad%C4%B1n%C4%B1n-Kurdu-mudur-Yurdu-mudur-180x180.jpg); width:180px; height:180px;"}
                %br
                  %br
                  .resimustu-yazi
                    %font{:color => "white"}
                      KATE WİLLİAMS
                  %hr
                  %hr
                  %p
                    %font{:color => "white"}
                      Creative Director
                  %ul
                    .p
                      .col-xs-4.col-sm-3.col-md-3.col-lg-2
                        %a{:href => "#"}
                          %font{:color => "white"}
                            %i.fa.fa-facebook{"aria-hidden" => "true"}

                      .col-xs-4.col-sm-3.col-md-3.col-lg-2
                        %a{:href => "#"}
                          %font{:color => "white"}
                            %i.fa.fa-twitter{"aria-hidden" => "true"}
                      .col-xs-4.col-sm-3.col-md-3.col-lg-2
                        %a{:href => "#"}
                          %font{:color => "white"}
                            %i.fa.fa-linkedin{"aria-hidden" => "true"}

        .carousel-caption
        .item
          .container3
            .col-xs-4.col-sm-3.col-md-3.col-lg-2
              %div{:style => "background:url(http://g-search3.alicdn.com/img/bao/uploaded/i4/i3/TB1SCxQKVXXXXbhXXXXXXXXXXXX_!!0-item_pic.jpg_180x180.jpg); width:180px; height:180px;"}
                %br
                %br
                .resimustu-yazi
                  %font{:color => "white"}
                    PATRICIA WEST
                %hr
                %hr
                %p
                  %font{:color => "white"}
                    Marketing Director
                %ul
                  .p
                    .col-xs-4.col-sm-3.col-md-3.col-lg-2
                      %a{:href => "#"}
                        %font{:color => "white"}
                          %i.fa.fa-facebook{"aria-hidden" => "true"}

                    .col-xs-4.col-sm-3.col-md-3.col-lg-2
                      %a{:href => "#"}
                        %font{:color => "white"}
                          %i.fa.fa-twitter{"aria-hidden" => "true"}
                    .col-xs-4.col-sm-3.col-md-3.col-lg-2
                      %a{:href => "#"}
                        %font{:color => "white"}
                          %i.fa.fa-linkedin{"aria-hidden" => "true"}

            .col-xs-4.col-sm-3.col-md-3.col-lg-2
              %div{:style => "background:url(http://www.hanimlarindunyasi.com/wp-content/uploads/2014/03/Erkekler-i%C3%A7in-Mezuniyet-Balosu-K%C4%B1yafet-Kombinleri-Mens-Prom-Ball-Suit-14-180x180.jpg); width:180px; height:180px;"}
                %br
                  %br
                .resimustu-yazi
                  %font{:color => "white"}
                    HOWARD SCOTT
                %hr
                %hr
                %p
                  %font{:color => "white"}
                    Sales Manager
                %ul
                  .p
                    .col-xs-4.col-sm-3.col-md-3.col-lg-2
                      %a{:href => "#"}
                        %font{:color => "white"}
                          %i.fa.fa-facebook{"aria-hidden" => "true"}

                    .col-xs-4.col-sm-3.col-md-3.col-lg-2
                      %a{:href => "#"}
                        %font{:color => "white"}
                          %i.fa.fa-twitter{"aria-hidden" => "true"}
                    .col-xs-4.col-sm-3.col-md-3.col-lg-2
                      %a{:href => "#"}
                        %font{:color => "white"}
                          %i.fa.fa-linkedin{"aria-hidden" => "true"}
            .col-xs-4.col-sm-3.col-md-3.col-lg-2
              %div{:style => "background:url(http://www.therapatica.com/wp-content/uploads/2016/07/Kad%C4%B1n-Kad%C4%B1n%C4%B1n-Kurdu-mudur-Yurdu-mudur-180x180.jpg); width:180px; height:180px;"}
                %br
                  %br
                  .resimustu-yazi
                    %font{:color => "white"}
                      KATE WİLLİAMS
                  %hr
                  %hr
                  %p
                    %font{:color => "white"}
                      Creative Director
                  %ul
                    .p
                      .col-xs-4.col-sm-3.col-md-3.col-lg-2
                        %a{:href => "#"}
                          %font{:color => "white"}
                            %i.fa.fa-facebook{"aria-hidden" => "true"}

                      .col-xs-4.col-sm-3.col-md-3.col-lg-2
                        %a{:href => "#"}
                          %font{:color => "white"}
                            %i.fa.fa-twitter{"aria-hidden" => "true"}
                      .col-xs-4.col-sm-3.col-md-3.col-lg-2
                        %a{:href => "#"}
                          %font{:color => "white"}
                            %i.fa.fa-linkedin{"aria-hidden" => "true"}

        .carousel-caption

        .item
          .container3
            .col-xs-4.col-sm-3.col-md-3.col-lg-2
              %div{:style => "background:url(http://g-search3.alicdn.com/img/bao/uploaded/i4/i3/TB1SCxQKVXXXXbhXXXXXXXXXXXX_!!0-item_pic.jpg_180x180.jpg); width:180px; height:180px;"}
                %br
                %br
                .resimustu-yazi
                  %font{:color => "white"}
                    PATRICIA WEST
                %hr
                %hr
                %p
                  %font{:color => "white"}
                    Marketing Director
                %ul
                  .p
                    .col-xs-4.col-sm-3.col-md-3.col-lg-2
                      %a{:href => "#"}
                        %font{:color => "white"}
                          %i.fa.fa-facebook{"aria-hidden" => "true"}

                    .col-xs-4.col-sm-3.col-md-3.col-lg-2
                      %a{:href => "#"}
                        %font{:color => "white"}
                          %i.fa.fa-twitter{"aria-hidden" => "true"}
                    .col-xs-4.col-sm-3.col-md-3.col-lg-2
                      %a{:href => "#"}
                        %font{:color => "white"}
                          %i.fa.fa-linkedin{"aria-hidden" => "true"}

            .col-xs-4.col-sm-3.col-md-3.col-lg-2
              %div{:style => "background:url(http://www.hanimlarindunyasi.com/wp-content/uploads/2014/03/Erkekler-i%C3%A7in-Mezuniyet-Balosu-K%C4%B1yafet-Kombinleri-Mens-Prom-Ball-Suit-14-180x180.jpg); width:180px; height:180px;"}
                %br
                  %br
                .resimustu-yazi
                  %font{:color => "white"}
                    HOWARD SCOTT
                %hr
                %hr
                %p
                  %font{:color => "white"}
                    Sales Manager
                %ul
                  .p
                    .col-xs-4.col-sm-3.col-md-3.col-lg-2
                      %a{:href => "#"}
                        %font{:color => "white"}
                          %i.fa.fa-facebook{"aria-hidden" => "true"}

                    .col-xs-4.col-sm-3.col-md-3.col-lg-2
                      %a{:href => "#"}
                        %font{:color => "white"}
                          %i.fa.fa-twitter{"aria-hidden" => "true"}
                    .col-xs-4.col-sm-3.col-md-3.col-lg-2
                      %a{:href => "#"}
                        %font{:color => "white"}
                          %i.fa.fa-linkedin{"aria-hidden" => "true"}
            .col-xs-4.col-sm-3.col-md-3.col-lg-2
              %div{:style => "background:url(http://www.therapatica.com/wp-content/uploads/2016/07/Kad%C4%B1n-Kad%C4%B1n%C4%B1n-Kurdu-mudur-Yurdu-mudur-180x180.jpg); width:180px; height:180px;"}
                %br
                  %br
                  .resimustu-yazi
                    %font{:color => "white"}
                      KATE WİLLİAMS
                  %hr
                  %hr
                  %p
                    %font{:color => "white"}
                      Creative Director
                  %ul
                    .p
                      .col-xs-4.col-sm-3.col-md-3.col-lg-2
                        %a{:href => "#"}
                          %font{:color => "white"}
                            %i.fa.fa-facebook{"aria-hidden" => "true"}

                      .col-xs-4.col-sm-3.col-md-3.col-lg-2
                        %a{:href => "#"}
                          %font{:color => "white"}
                            %i.fa.fa-twitter{"aria-hidden" => "true"}
                      .col-xs-4.col-sm-3.col-md-3.col-lg-2
                        %a{:href => "#"}
                          %font{:color => "white"}
                            %i.fa.fa-linkedin{"aria-hidden" => "true"}

        .carousel-caption


      %a.left.carousel-control{"data-slide" => "prev", :href => "#carousel-example-generic", :role => "button"}
        %span.fa.fa-chevron-left{"aria-hidden" => "true"}


      %a.right.carousel-control{"data-slide" => "next", :href => "#carousel-example-generic", :role => "button"}

        %span.fa.fa-chevron-right{"aria-hidden" => "true"}



  %aside.cta-quote{:style => "background-image: url(http://2155.turkiyemix.com/Images/Thumbs/News/395-sanayici-ve-is-adamlari-dernegi-710x384.jpeg);width:1000px; height:400px;"}
    .containerr
      .row
        .col-md-12
          .writing
            Good
            %font{:color => "red"} design
            is finding that perfect balance between
            %br
            the way something
            %font{:color => "red"} looks
            and how it
            %font{:color => "red"} functions.
    %hr
    %hr
    %a{:href => "#",:class => 'btn btn-white'}
      %span LET'S FIND IT

%section#process
  .about
    OUR PROCESS
  %hr
  %hr
  %br
  .about2
    Here is an overview of how we approach each new project.
    %br

      %br
  .container
    .row
      .col-xs-4.col-sm-3.col-md-3.col-lg-2
        .daire
          .icon
            %i.fa.fa-clipboard.fa-2x{"aria-hidden" => "true"}
        Plan
        %br
        Client interview
        %br
        Gather consumer data
        %br
        Create content strategy
        %br
        Analyze research
      .col-xs-4.col-sm-3.col-md-3.col-lg-2
        .daire
          .icon
            %i.fa.fa-pencil.fa-2x{"aria-hidden" => "true"}
        Create
        %br
        Build wireframe
        %br
        Gather client feedback
        %br
        Code development
        %br
        Marketing review
      .col-xs-4.col-sm-3.col-md-3.col-lg-2
        .daire
          .icon
            %i.fa.fa-rocket.fa-2x{"aria-hidden" => "true"}
        Launch
        %br
        Deploy website
        %br
        Market product launch
        %br
        Collect UX data
        %br
        Quarterly maintenence

%section#work
  .about
    OUR WORK
  %hr
  %hr
  %br
  .about2
    Examples of our work which represent our design and marketing capabilities.

  #carousell-example-generic.carousel.slide{"data-ride" => "carousel"}
    .carousel-inner{:role => "listbox"}
      .item.active
        %div{:style => "background:url(http://www.neswebdesign.com/wp-content/uploads/2016/01/web-designing.jpg); width:1000px; height:500px; background-size: cover;opacity: 0.7; "}
          .col-xs-12.col-sm-3.col-md-3.col-lg-2
            .client-logo
              %img{:alt => "", :src => "images/logo-1.png"}
            .project-name
              PROJECT NAME
            .web
              Branding, Website Design
            %hr
            %hr
            =link_to "#", :class => 'btn btn-white' do
              VIEW DETAILS
              %i.fa.fa-long-arrow-right{"aria-hidden" => "true"}

      .carousel-caption
      .item
        %div{:style => "background:url(http://www.aerotechdigitalmarketing.com/wp-content/uploads/Website-Design-1.jpg); width:1000px; height:500px; background-size: cover; ;"}
          .col-xs-12.col-sm-3.col-md-3.col-lg-2
            .client-logo
              %img{:alt => "", :src => "images/logo-2.png"}
            .project-name
              PROJECT NAME
            .web
              Branding, Website Design
            %hr
            %hr
            =link_to "#", :class => 'btn btn-white' do
              VIEW DETAILS
              %i.fa.fa-long-arrow-right{"aria-hidden" => "true"}
      .carousel-caption

    %a.left.carousel-control{"data-slide" => "prev", :href => "#carousell-example-generic", :role => "button"}
      %span.fa.fa-chevron-left{"aria-hidden" => "true"}
    %a.right.carousel-control{"data-slide" => "next", :href => "#carousell-example-generic", :role => "button"}
      %span.fa.fa-chevron-right{"aria-hidden" => "true"}

  .about
    PORTFOLIO
  %hr
  %hr
  .about2
    Here are some other projects that we've worked on.

  =link_to "#", :class => 'btn btn-black' do
    ALL
  =link_to "#", :class => 'btn btn-black' do
    IDENTITY
  %a{:href => "#",:class => 'btn btn-black'}
    %span
      GRAPHIC
  %a{:href => "#",:class => 'btn btn-black'}
    %span
      WEB

  .container
    .row
      .col-xs-4.col-sm-3.col-md-3.col-lg-2
        .margin
          %div{:style => "background:url(http://degisikicatlar.com/wp-content/uploads/2016/03/iphone5se.jpg); width:200px; height:150px; background-size: cover"}
      .col-xs-4.col-sm-3.col-md-3.col-lg-2
        .margin
          %div{:style => "background:url(http://www.identitywebdesign.com/images/slideshow/slide1.jpg); width:200px; height:150px; background-size: cover;"}

      .col-xs-4.col-sm-3.col-md-3.col-lg-2
        .margin
          %div{:style => "background:url(http://s2.favim.com/orig/33/apple-computer-ipod-laptop-purple-Favim.com-265580.jpg); width:200px; height:150px; background-size: cover;"}
    .row
      .col-xs-4.col-sm-3.col-md-3.col-lg-2
        .margin
          %div{:style => "background:url(http://baef480c1b9a59094802-bb7fd020772cbf1cd099f3b22c712b0b.r79.cf2.rackcdn.com/932d80777c8cf5562b386d777c818723.jpg); width:200px; height:150px; background-size: cover"}
      .col-xs-4.col-sm-3.col-md-3.col-lg-2
        .margin
          %div{:style => "background:url(http://resimdiyari.com/_data/i/upload/2012/10/14/20121014183753-5a8ae0b6-me.jpg); width:200px; height:150px; background-size: cover;"}

      .col-xs-4.col-sm-3.col-md-3.col-lg-2
        .margin
          %div{:style => "background:url(https://oag.ca.gov/sites/all/files/agweb/images/cybersecurity/cyber-threats-mobile.jpg); width:200px; height:150px; background-size: cover;"}
    .row
      .col-xs-4.col-sm-3.col-md-3.col-lg-2
        .margin
          %div{:style => "background:url(http://c1038.r38.cf3.rackcdn.com/group5/building41400/media/kerw_pp_140311_11.jpeg); width:200px; height:150px; background-size: cover"}
      .col-xs-4.col-sm-3.col-md-3.col-lg-2
        .margin
          %div{:style => "background:url(http://2.bp.blogspot.com/-hi0Hsbbj4rM/VqUm55yTQII/AAAAAAAABQE/kUqIVTbUeVU/s1600/%25C3%2587ikolatal%25C4%25B1%2Bunsuz%2Bkek%2Btarifi.jpg); width:200px; height:150px; background-size: cover;"}

      .col-xs-4.col-sm-3.col-md-3.col-lg-2
        .margin
          %div{:style => "background:url(http://www.jasmin2020.com/image/data/duvar_resmi/asma-kopru-YAN-DR-18.jpg); width:200px; height:150px; background-size: cover;"}
    .row
      .col-xs-4.col-sm-3.col-md-3.col-lg-2
        .margin
          %div{:style => "background:url(http://motosiklethaberleri.net/wp-content/uploads/2011/11/susurluk.jpg); width:200px; height:150px; background-size: cover"}
      .col-xs-4.col-sm-3.col-md-3.col-lg-2
        .margin
          %div{:style => "background:url(http://www.hasansutcuoglu.com/wp-content/uploads/2014/09/elma_dergisi_iphone6plus-4.jpg); width:200px; height:150px; background-size: cover;"}

      .col-xs-4.col-sm-3.col-md-3.col-lg-2
        .margin
          %div{:style => "background:url(http://www.portakalagaci.com/photos/uncategorized/2008/01/18/kekcikler.jpg); width:200px; height:150px; background-size: cover;"}
%section#workk
  #carouselll-example-generic.carousel.slide{"data-ride" => "carousel"}
    %ol.carousel-indicators
      %li.active{"data-slide-to" => "0", "data-target" => "#carouselll-example-generic"}
      %li{"data-slide-to" => "1", "data-target" => "#carouselll-example-generic"}
    .carousel-inner{:role => "listbox"}
      .item.active
        .working
          "WORKING WITH VITALITY WAS BOTH A VALUABLE AND
          %br
          REWARDING EXPERIENCE."
        %br
        %hr
        %hr
        %br
        .about2
          Lorem ipsum dolor sit amet,consectetur adipisicing elit.Reprehenderit,temporibusilaborum,
          %br
            dignissimos doloremque corporis alias nostrum recusandae culpa id quisquam harum impedit
            %br
              sed sunt non obcaecati vero ipsam aut fugit?
              .carousel-caption

        .col-xs-12.col-sm-3.col-md-3.col-lg-2
          .image2
          .yazi
            JIM WALKER
          .yazi2
            CEO of GeneriCorp

          .icon
            %i.fa.fa-star{"aria-hidden" => "true"}
            %i.fa.fa-star{"aria-hidden" => "true"}
            %i.fa.fa-star{"aria-hidden" => "true"}
            %i.fa.fa-star{"aria-hidden" => "true"}
            %i.fa.fa-star{"aria-hidden" => "true"}
          .carousel-caption
      .item

        .working
          "WORKING WITH VITALITY WAS BOTH A VALUABLE AND
          %br
          REWARDING EXPERIENCE."
        %br
        %hr
        %hr
        %br
        .about2
          Lorem ipsum dolor sit amet,consectetur adipisicing elit.Reprehenderit,temporibusilaborum,
          %br
            dignissimos doloremque corporis alias nostrum recusandae culpa id quisquam harum impedit
            %br
              sed sunt non obcaecati vero ipsam aut fugit?
              .carousel-caption


        .col-xs-12.col-sm-3.col-md-3.col-lg-2
          .image2
          .yazi
            JIM WALKER
          .yazi2
            CEO of GeneriCorp

          .icon
            %i.fa.fa-star{"aria-hidden" => "true"}
            %i.fa.fa-star{"aria-hidden" => "true"}
            %i.fa.fa-star{"aria-hidden" => "true"}
            %i.fa.fa-star{"aria-hidden" => "true"}
            %i.fa.fa-star{"aria-hidden" => "true"}
      .carousel-caption


    %a.left.carousel-control{"data-slide" => "prev", :href => "#carouselll-example-generic", :role => "button"}
      %span.fa.fa-chevron-left{"aria-hidden" => "true"}


    %a.right.carousel-control{"data-slide" => "next", :href => "#carouselll-example-generic", :role => "button"}

      %span.fa.fa-chevron-right{"aria-hidden" => "true"}




%section#contact
  %a{:href => "#",:class => 'btn btn-big'}
    .btn-big-yazi
      Buy Vitality Now!
  .arkaplan
    .container4
      .row
        %br
        .col-xs-4.col-sm-3.col-md-3.col-lg-2
          .white
            %i.fa.fa-phone{"aria-hidden" => "true"}
            CALL
          .white2
            555-213-4567
        .col-xs-4.col-sm-3.col-md-3.col-lg-2
          .white
            %i.fa.fa-map-marker{"aria-hidden" => "true"}
            VISIT
          .white2
            3481 Melrose Place
            %br
            Beverly Hills, CA 90210
        .col-xs-4.col-sm-3.col-md-3.col-lg-2
          .white
            %i.fa.fa-envelope{"aria-hidden" => "true"}
            EMAİL
          .white2
            %a{:href => "#",:class => 'btn btn'}
              %span mail@example.com
    .container5
      .row
        .col-xs-4.col-sm-3.col-md-3.col-lg-2
          %a{:href => "#"}
            %font{:color => "white"}
              %i.fa.fa-linkedin.fa-2x{"aria-hidden" => "true"}


          .col-xs-4.col-sm-3.col-md-3.col-lg-2
            %a{:href => "#"}
              %font{:color => "white"}
                %i.fa.fa-twitter.fa-2x{"aria-hidden" => "true"}
          .col-xs-4.col-sm-3.col-md-3.col-lg-2
            %a{:href => "#"}
              %font{:color => "white"}
                %i.fa.fa-facebook.fa-2x{"aria-hidden" => "true"}


