
%header#header
  %div{:style => "background:url('images/bg-header.jpg'); width:1000px; height:490px; background-size: cover;     background-attachment: fixed"}
    %nav.navbar.navbar-white
      .container-fluid
        .navbar-header
          %button.navbar-toggle.collapsed{"aria-expanded" => "false", "data-target" => "#bs-example-navbar-collapse-1", "data-toggle" => "collapse", :type => "button"}
            %span.sr-only Toggle navigation
            %span.icon-bar
            %span.icon-bar
            %span.icon-bar
          %a.navbar-brand{:href => "#"}

            %li
              %a{:href => "#"}
                %div.vitality{:style => "background:url('images/logo.png'); width:110px; height:30px; background-size: cover;"}
        #bs-example-navbar-collapse-1.collapse.navbar-collapse

          %ul.nav.navbar-nav.navbar-right
            %li
              %a{:href => '#about'}
                %font{:color => "white"}
                  About
            %li
              %a{:href => '#process'}
                %font{:color => "white"}
                  Process
            %li
              %a{:href => "#work"}
                %font{:color => "white"}
                  Work
            %li
              %a{:href => "#pricing"}
                %font{:color => "white"}
                  Pricing
            %li
              %a{:href => "#contact"}
                %font{:color => "white"}
                  Contact



    %div.tasima{:style => "background:url('images/profile.png'); width:130px; height:130px; background-size: cover;"}
    .vitalityy
      VITALITY
    %hr
    %hr
    .bootstrap
      %font{:color => "white"} by Start Bootstrap
    .btn-yuvarlak
      %a{:href => "#about"}
        %font{:color => "white"}
          .icon
            %i.fa.fa-chevron-down{"aria-hidden" => "true"}


%section#about

  .about
    A THEME FOR CREATIVES & AGENCIES
  .about2
    Vitality is the perfect theme for a freelance professional or an agency
  %hr
  %hr
  %br
  .container2
    .row
      %br
      .col-xs-3.col-sm-3.col-md-3.col-lg-2
        %i.fa.fa-eye.fa-4x{"aria-hidden" => "true"}
        %br
        .yazi-style2
          RETİNA READY
        .yazi-style
          %br
          This theme includes the retina js plugin for easy
          %br
          retina image support so your images and
          %br
          graphics will look great on mobile devices!


      .col-xs-3.col-sm-3.col-md-3.col-lg-2
        %i.fa.fa-pencil-square-o.fa-4x{"aria-hidden" => "true"}
        %br
        .yazi-style2
          EASY TO EDIT
        .yazi-style
          %br
          Vitality is built using Bootstrap 3,and is easy to
          %br
          edit and customize.LESS files are included as
          %br
          well for deeper customization

      .col-xs-3.col-sm-3.col-md-3.col-lg-2
        %i.fa.fa-mobile.fa-4x{"aria-hidden" => "true"}
        %br
        .yazi-style2
          RESPONSIVE

        .yazi-style
          %br
          When building this theme,we've paid close
          %br
          attention to how it looks on various screen
          %br
          sizes.Try it out on a phone or tablet!
      .col-xs-3.col-sm-3.col-md-3.col-lg-2
        %i.fa.fa-heart.fa-4x{"aria-hidden" => "true"}
        %br
        .yazi-style2
          BUILT WİTH LOVE
        .yazi-style
          All of our themes are crafted with care,and we
          %br
          strive to make your experience as one of our
          %br
          customers the best as possible
  .process
    .about
      OUR TEAM
    .about2
      We are a group of digital marketers with a passion for great art that serves a practical purpose
    %hr
    %hr
    %section#aboutt
      #carousel-example-generic.carousel.slide{"data-ride" => "carousel"}
        .carousel-inner{:role => "listbox"}
          .item.active
            .container3
              .col-xs-4.col-sm-3.col-md-3.col-lg-2
                %div{:style => "background:url(images/1.jpg); width:180px; height:180px; background-size: cover"}
                  %br
                  %br
                  .resimustu-yazi
                    %font{:color => "white"}
                      PATRICIA WEST
                  %hr
                  %hr
                  %p
                    %font{:color => "white"}
                      Marketing Director
                  %ul
                    .p
                      .col-xs-4.col-sm-3.col-md-3.col-lg-2
                        %a{:href => "#"}
                          %font{:color => "white"}
                            %i.fa.fa-facebook.fa{"aria-hidden" => "true"}

                      .col-xs-4.col-sm-3.col-md-3.col-lg-2
                        %a{:href => "#"}
                          %font{:color => "white"}
                            %i.fa.fa-twitter.fa{"aria-hidden" => "true"}
                      .col-xs-4.col-sm-3.col-md-3.col-lg-2
                        %a{:href => "#"}
                          %font{:color => "white"}
                            %i.fa.fa-linkedin.fa{"aria-hidden" => "true"}

              .col-xs-4.col-sm-3.col-md-3.col-lg-2
                %div{:style => "background:url(images/2.jpg); width:180px; height:180px; background-size: cover;"}
                  %br
                  %br
                  .resimustu-yazi
                    %font{:color => "white"}
                      HOWARD SCOTT
                  %hr
                  %hr
                  %p
                    %font{:color => "white"}
                      Sales Manager
                  %ul
                    .p
                      .col-xs-4.col-sm-3.col-md-3.col-lg-2
                        %a{:href => "#"}
                          %font{:color => "white"}
                            %i.fa.fa-facebook{"aria-hidden" => "true"}

                      .col-xs-4.col-sm-3.col-md-3.col-lg-2
                        %a{:href => "#"}
                          %font{:color => "white"}
                            %i.fa.fa-twitter{"aria-hidden" => "true"}
                      .col-xs-4.col-sm-3.col-md-3.col-lg-2
                        %a{:href => "#"}
                          %font{:color => "white"}
                            %i.fa.fa-linkedin{"aria-hidden" => "true"}
              .col-xs-4.col-sm-3.col-md-3.col-lg-2
                %div{:style => "background:url(images/3.jpg); width:180px; height:180px; background-size: cover"}
                  %br
                    %br
                    .resimustu-yazi
                      %font{:color => "white"}
                        KATE WİLLİAMS
                    %hr
                    %hr
                    %p
                      %font{:color => "white"}
                        Creative Director
                    %ul
                      .p
                        .col-xs-4.col-sm-3.col-md-3.col-lg-2
                          %a{:href => "#"}
                            %font{:color => "white"}
                              %i.fa.fa-facebook{"aria-hidden" => "true"}

                        .col-xs-4.col-sm-3.col-md-3.col-lg-2
                          %a{:href => "#"}
                            %font{:color => "white"}
                              %i.fa.fa-twitter{"aria-hidden" => "true"}
                        .col-xs-4.col-sm-3.col-md-3.col-lg-2
                          %a{:href => "#"}
                            %font{:color => "white"}
                              %i.fa.fa-linkedin{"aria-hidden" => "true"}

            .carousel-caption
          .item
            .container3
              .col-xs-4.col-sm-3.col-md-3.col-lg-2
                %div{:style => "background:url(images/1.jpg); width:180px; height:180px; background-size: cover"}
                  %br
                  %br
                  .resimustu-yazi
                    %font{:color => "white"}
                      PATRICIA WEST
                  %hr
                  %hr
                  %p
                    %font{:color => "white"}
                      Marketing Director
                  %ul
                    .p
                      .col-xs-4.col-sm-3.col-md-3.col-lg-2
                        %a{:href => "#"}
                          %font{:color => "white"}
                            %i.fa.fa-facebook{"aria-hidden" => "true"}

                      .col-xs-4.col-sm-3.col-md-3.col-lg-2
                        %a{:href => "#"}
                          %font{:color => "white"}
                            %i.fa.fa-twitter{"aria-hidden" => "true"}
                      .col-xs-4.col-sm-3.col-md-3.col-lg-2
                        %a{:href => "#"}
                          %font{:color => "white"}
                            %i.fa.fa-linkedin{"aria-hidden" => "true"}

              .col-xs-4.col-sm-3.col-md-3.col-lg-2
                %div{:style => "background:url(images/2.jpg); width:180px; height:180px; background-size: cover;"}
                  %br
                  %br
                  .resimustu-yazi
                    %font{:color => "white"}
                      HOWARD SCOTT
                  %hr
                  %hr
                  %p
                    %font{:color => "white"}
                      Sales Manager
                  %ul
                    .p
                      .col-xs-4.col-sm-3.col-md-3.col-lg-2
                        %a{:href => "#"}
                          %font{:color => "white"}
                            %i.fa.fa-facebook{"aria-hidden" => "true"}

                      .col-xs-4.col-sm-3.col-md-3.col-lg-2
                        %a{:href => "#"}
                          %font{:color => "white"}
                            %i.fa.fa-twitter{"aria-hidden" => "true"}
                      .col-xs-4.col-sm-3.col-md-3.col-lg-2
                        %a{:href => "#"}
                          %font{:color => "white"}
                            %i.fa.fa-linkedin{"aria-hidden" => "true"}
              .col-xs-4.col-sm-3.col-md-3.col-lg-2
                %div{:style => "background:url(images/3.jpg); width:180px; height:180px; background-size: cover"}
                  %br
                    %br
                    .resimustu-yazi
                      %font{:color => "white"}
                        KATE WİLLİAMS
                    %hr
                    %hr
                    %p
                      %font{:color => "white"}
                        Creative Director
                    %ul
                      .p
                        .col-xs-4.col-sm-3.col-md-3.col-lg-2
                          %a{:href => "#"}
                            %font{:color => "white"}
                              %i.fa.fa-facebook{"aria-hidden" => "true"}

                        .col-xs-4.col-sm-3.col-md-3.col-lg-2
                          %a{:href => "#"}
                            %font{:color => "white"}
                              %i.fa.fa-twitter{"aria-hidden" => "true"}
                        .col-xs-4.col-sm-3.col-md-3.col-lg-2
                          %a{:href => "#"}
                            %font{:color => "white"}
                              %i.fa.fa-linkedin{"aria-hidden" => "true"}

            .carousel-caption

          .item
            .container3
              .col-xs-4.col-sm-3.col-md-3.col-lg-2
                %div{:style => "background:url(images/1.jpg); width:180px; height:180px; background-size: cover"}
                  %br
                  %br
                  .resimustu-yazi
                    %font{:color => "white"}
                      PATRICIA WEST
                  %hr
                  %hr
                  %p
                    %font{:color => "white"}
                      Marketing Director
                  %ul
                    .p
                      .col-xs-4.col-sm-3.col-md-3.col-lg-2
                        %a{:href => "#"}
                          %font{:color => "white"}
                            %i.fa.fa-facebook{"aria-hidden" => "true"}

                      .col-xs-4.col-sm-3.col-md-3.col-lg-2
                        %a{:href => "#"}
                          %font{:color => "white"}
                            %i.fa.fa-twitter{"aria-hidden" => "true"}
                      .col-xs-4.col-sm-3.col-md-3.col-lg-2
                        %a{:href => "#"}
                          %font{:color => "white"}
                            %i.fa.fa-linkedin{"aria-hidden" => "true"}

              .col-xs-4.col-sm-3.col-md-3.col-lg-2
                %div{:style => "background:url(images/2.jpg); width:180px; height:180px; background-size: cover;"}
                  %br
                  %br
                  .resimustu-yazi
                    %font{:color => "white"}
                      HOWARD SCOTT
                  %hr
                  %hr
                  %p
                    %font{:color => "white"}
                      Sales Manager
                  %ul
                    .p
                      .col-xs-4.col-sm-3.col-md-3.col-lg-2
                        %a{:href => "#"}
                          %font{:color => "white"}
                            %i.fa.fa-facebook{"aria-hidden" => "true"}

                      .col-xs-4.col-sm-3.col-md-3.col-lg-2
                        %a{:href => "#"}
                          %font{:color => "white"}
                            %i.fa.fa-twitter{"aria-hidden" => "true"}
                      .col-xs-4.col-sm-3.col-md-3.col-lg-2
                        %a{:href => "#"}
                          %font{:color => "white"}
                            %i.fa.fa-linkedin{"aria-hidden" => "true"}
              .col-xs-4.col-sm-3.col-md-3.col-lg-2
                %div{:style => "background:url(images/3.jpg); width:180px; height:180px; background-size: cover"}
                  %br
                    %br
                    .resimustu-yazi
                      %font{:color => "white"}
                        KATE WİLLİAMS
                    %hr
                    %hr
                    %p
                      %font{:color => "white"}
                        Creative Director
                    %ul
                      .p
                        .col-xs-4.col-sm-3.col-md-3.col-lg-2
                          %a{:href => "#"}
                            %font{:color => "white"}
                              %i.fa.fa-facebook{"aria-hidden" => "true"}

                        .col-xs-4.col-sm-3.col-md-3.col-lg-2
                          %a{:href => "#"}
                            %font{:color => "white"}
                              %i.fa.fa-twitter{"aria-hidden" => "true"}
                        .col-xs-4.col-sm-3.col-md-3.col-lg-2
                          %a{:href => "#"}
                            %font{:color => "white"}
                              %i.fa.fa-linkedin{"aria-hidden" => "true"}

            .carousel-caption
          %a.left.carousel-control{"data-slide" => "prev", :href => "#carousel-example-generic", :role => "button"}
            %span.fa.fa-chevron-left{"aria-hidden" => "true"}


          %a.right.carousel-control{"data-slide" => "next", :href => "#carousel-example-generic", :role => "button"}

            %span.fa.fa-chevron-right{"aria-hidden" => "true"}


%section#abouttt
  %aside.cta-quote{:style => "background-image: url(http://2155.turkiyemix.com/Images/Thumbs/News/395-sanayici-ve-is-adamlari-dernegi-710x384.jpeg);width:1000px; height:400px;"}
    .containerr
      .row
        .col-md-12
          .writing
            Good
            %font{:color => "red"} design
            is finding that perfect balance between
            %br
            the way something
            %font{:color => "red"} looks
            and how it
            %font{:color => "red"} functions.
    %hr
    %hr
    %a{:href => "#",:class => 'btn btn-white'}
      %span LET'S FIND IT

%section#process
  .about
    OUR PROCESS
  %hr
  %hr
  %br
  .about2
    Here is an overview of how we approach each new project.
    %br

      %br
  .container
    .row
      .col-xs-4.col-sm-3.col-md-3.col-lg-2
        .daire
          .icon
            %i.fa.fa-clipboard.fa-2x{"aria-hidden" => "true"}
        Plan
        %br
        Client interview
        %br
        Gather consumer data
        %br
        Create content strategy
        %br
        Analyze research
      .col-xs-4.col-sm-3.col-md-3.col-lg-2
        .daire
          .icon
            %i.fa.fa-pencil.fa-2x{"aria-hidden" => "true"}
        Create
        %br
        Build wireframe
        %br
        Gather client feedback
        %br
        Code development
        %br
        Marketing review
      .col-xs-4.col-sm-3.col-md-3.col-lg-2
        .daire
          .icon
            %i.fa.fa-rocket.fa-2x{"aria-hidden" => "true"}
        Launch
        %br
        Deploy website
        %br
        Market product launch
        %br
        Collect UX data
        %br
        Quarterly maintenence

%section#work
  .about
    OUR WORK
  %hr
  %hr
  %br
  .about2
    Examples of our work which represent our design and marketing capabilities.

  #carousell-example-generic.carousel.slide{"data-ride" => "carousel"}
    .carousel-inner{:role => "listbox"}
      .item.active
        %div{:style => "background:url(http://www.neswebdesign.com/wp-content/uploads/2016/01/web-designing.jpg); width:1000px; height:500px; background-size: cover;opacity: 0.7; "}
          .col-xs-12.col-sm-3.col-md-3.col-lg-2
            .client-logo
              %img{:alt => "", :src => "images/logo-1.png"}
            .project-name
              PROJECT NAME
            .web
              Branding, Website Design
            %hr
            %hr
            =link_to "#", :class => 'btn btn-white' do
              VIEW DETAILS
              %i.fa.fa-long-arrow-right{"aria-hidden" => "true"}

      .carousel-caption
      .item
        %div{:style => "background:url(http://www.aerotechdigitalmarketing.com/wp-content/uploads/Website-Design-1.jpg); width:1000px; height:500px; background-size: cover; ;"}
          .col-xs-12.col-sm-3.col-md-3.col-lg-2
            .client-logo
              %img{:alt => "", :src => "images/logo-2.png"}
            .project-name
              PROJECT NAME
            .web
              Branding, Website Design
            %hr
            %hr
            =link_to "#", :class => 'btn btn-white' do
              VIEW DETAILS
              %i.fa.fa-long-arrow-right{"aria-hidden" => "true"}
      .carousel-caption

    %a.left.carousel-control{"data-slide" => "prev", :href => "#carousell-example-generic", :role => "button"}
      %span.fa.fa-chevron-left{"aria-hidden" => "true"}
    %a.right.carousel-control{"data-slide" => "next", :href => "#carousell-example-generic", :role => "button"}
      %span.fa.fa-chevron-right{"aria-hidden" => "true"}

  .about
    PORTFOLIO
  %hr
  %hr
  %br
  .about2
    Here are some other projects that we've worked on.

  =link_to "#", :class => 'btn btn-black' do
    ALL
  =link_to "#", :class => 'btn btn-black' do
    IDENTITY
  %a{:href => "#",:class => 'btn btn-black'}
    %span
      GRAPHIC
  %a{:href => "#",:class => 'btn btn-black'}
    %span
      WEB

  #portfoliolist
    .container
      .row

        .col-xs-4.col-sm-3.col-md-3.col-lg-2
          .portfolio.identity.mix_all{"data-cat" => "identity", "data-toggle" => "modal", :href => "#portfolioModal1", :style => "display: inline-block;  opacity: 1;"}
            .portfolio-wrapper
              %img{:alt => "", :src => "http://degisikicatlar.com/wp-content/uploads/2016/03/iphone5se.jpg"}
              .writing1
                Brands
              .writing2
                Web Development
              .caption-bg

        .col-xs-4.col-sm-3.col-md-3.col-lg-2
          .portfolio.identity.mix_all{"data-cat" => "identity", "data-toggle" => "modal", :href => "#portfolioModal1", :style => "display: inline-block;  opacity: 1;"}
            .portfolio-wrapper
              %img{:alt => "", :src => "http://www.identitywebdesign.com/images/slideshow/slide1.jpg"}
              .writing1
                YouTV
              .writing2
                Web Development
              .caption-bg


        .col-xs-4.col-sm-3.col-md-3.col-lg-2
          .portfolio.identity.mix_all{"data-cat" => "identity", "data-toggle" => "modal", :href => "#portfolioModal1", :style => "display: inline-block;  opacity: 1;"}
            .portfolio-wrapper
              %img{:alt => "", :src => "http://s2.favim.com/orig/33/apple-computer-ipod-laptop-purple-Favim.com-265580.jpg"}
              .writing1
                Generic Inc
              .writing2
                Brand Identity
              .caption-bg
    .container
      .row
        .col-xs-4.col-sm-3.col-md-3.col-lg-2
          .portfolio.identity.mix_all{"data-cat" => "identity", "data-toggle" => "modal", :href => "#portfolioModal1", :style => "display: inline-block;  opacity: 1;"}

            .portfolio-wrapper
              %img{:alt => "", :src => "http://baef480c1b9a59094802-bb7fd020772cbf1cd099f3b22c712b0b.r79.cf2.rackcdn.com/932d80777c8cf5562b386d777c818723.jpg"}
              .writing1
                Postable
              .writing2
                Graphic Design
              .caption-bg
        .col-xs-4.col-sm-3.col-md-3.col-lg-2
          .portfolio.identity.mix_all{"data-cat" => "identity", "data-toggle" => "modal", :href => "#portfolioModal1", :style => "display: inline-block;  opacity: 1;"}

            .portfolio-wrapper
              %img{:alt => "", :src => "http://resimdiyari.com/_data/i/upload/2012/10/14/20121014183753-5a8ae0b6-me.jpg"}
              .writing1
                Fooder
              .writing2
                Mobile App
              .caption-bg
        .col-xs-4.col-sm-3.col-md-3.col-lg-2
          .portfolio.identity.mix_all{"data-cat" => "identity", "data-toggle" => "modal", :href => "#portfolioModal1", :style => "display: inline-block;  opacity: 1;"}

            .portfolio-wrapper
              %img{:alt => "", :src => "https://oag.ca.gov/sites/all/files/agweb/images/cybersecurity/cyber-threats-mobile.jpg"}
              .writing1
                Simpli Nota
              .writing2
                Brand Identity
              .caption-bg
      .row
        .col-xs-4.col-sm-3.col-md-3.col-lg-2
          .portfolio.identity.mix_all{"data-cat" => "identity", "data-toggle" => "modal", :href => "#portfolioModal1", :style => "display: inline-block;  opacity: 1;"}
            .portfolio-wrapper
              %img{:alt => "", :src => "http://c1038.r38.cf3.rackcdn.com/group5/building41400/media/kerw_pp_140311_11.jpeg"}
              .writing1
                Mountain Tea
              .writing2
                Graphic Design
              .caption-bg
        .col-xs-4.col-sm-3.col-md-3.col-lg-2
          .portfolio.identity.mix_all{"data-cat" => "identity", "data-toggle" => "modal", :href => "#portfolioModal1", :style => "display: inline-block;  opacity: 1;"}
            .portfolio-wrapper
              %img{:alt => "", :src => "http://2.bp.blogspot.com/-hi0Hsbbj4rM/VqUm55yTQII/AAAAAAAABQE/kUqIVTbUeVU/s1600/%25C3%2587ikolatal%25C4%25B1%2Bunsuz%2Bkek%2Btarifi.jpg"}
              .writing1
                CheckMark
              .writing2
                Graphic Design
              .caption-bg
        .col-xs-4.col-sm-3.col-md-3.col-lg-2
          .portfolio.identity.mix_all{"data-cat" => "identity", "data-toggle" => "modal", :href => "#portfolioModal1", :style => "display: inline-block;  opacity: 1;"}

            .portfolio-wrapper
              %img{:alt => "", :src => "http://www.jasmin2020.com/image/data/duvar_resmi/asma-kopru-YAN-DR-18.jpg"}
              .writing1
                Excellence
              .writing2
                Poster Design
              .caption-bg
      .row
        .col-xs-4.col-sm-3.col-md-3.col-lg-2
          .portfolio.identity.mix_all{"data-cat" => "identity", "data-toggle" => "modal", :href => "#portfolioModal1", :style => "display: inline-block;  opacity: 1;"}
            .portfolio-wrapper
              %img{:alt => "", :src => "http://motosiklethaberleri.net/wp-content/uploads/2011/11/susurluk.jpg"}
              .writing1
                Office Supplies
              .writing2
                Graphic Design
              .caption-bg
        .col-xs-4.col-sm-3.col-md-3.col-lg-2
          .portfolio.identity.mix_all{"data-cat" => "identity", "data-toggle" => "modal", :href => "#portfolioModal1", :style => "display: inline-block;  opacity: 1;"}
            .portfolio-wrapper
              %img{:alt => "", :src => "http://www.hasansutcuoglu.com/wp-content/uploads/2014/09/elma_dergisi_iphone6plus-4.jpg"}
              .writing1
                OneRepublic
              .writing2
                Web Development
              .caption-bg

        .col-xs-4.col-sm-3.col-md-3.col-lg-2
          .portfolio.identity.mix_all{"data-cat" => "identity", "data-toggle" => "modal", :href => "#portfolioModal1", :style => "display: inline-block;  opacity: 1;"}

            .portfolio-wrapper
              %img{:alt => "", :src => "http://www.portakalagaci.com/photos/uncategorized/2008/01/18/kekcikler.jpg"}
              .writing1
                Demish
              .writing2
                Brand Identity
              .caption-bg
%section#workk
  %br
  %br
  %br
  %br
  #carouselll-example-generic.carousel.slide{"data-ride" => "carousel"}
    / Indicators
    %ol.carousel-indicators
      %li.active{"data-slide-to" => "0", "data-target" => "#carouselll-example-generic"}
      %li{"data-slide-to" => "1", "data-target" => "#carouselll-example-generic"}
    .carousel-inner{:role => "listbox"}
      .item.active
        .working
          "WORKING WITH VITALITY WAS BOTH A VALUABLE AND
          %br
          REWARDING EXPERIENCE."
        %br
        %hr
        %hr
        %br
        .about2
          Lorem ipsum dolor sit amet,consectetur adipisicing elit.Reprehenderit,temporibusilaborum,
          %br
            dignissimos doloremque corporis alias nostrum recusandae culpa id quisquam harum impedit
            %br
              sed sunt non obcaecati vero ipsam aut fugit?
        .col-xs-12.col-sm-3.col-md-3.col-lg-2
          .image2
          .yazi
            JIM WALKER
          .yazi2
            CEO of GeneriCorp

          .icon
            %i.fa.fa-star{"aria-hidden" => "true"}
            %i.fa.fa-star{"aria-hidden" => "true"}
            %i.fa.fa-star{"aria-hidden" => "true"}
            %i.fa.fa-star{"aria-hidden" => "true"}
            %i.fa.fa-star{"aria-hidden" => "true"}
        .carousel-caption
      .item

        .working
          "WORKING WITH VITALITY WAS BOTH A VALUABLE AND
          %br
          REWARDING EXPERIENCE."
        %br
        %hr
        %hr
        %br
        .about2
          Lorem ipsum dolor sit amet,consectetur adipisicing elit.Reprehenderit,temporibusilaborum,
          %br
            dignissimos doloremque corporis alias nostrum recusandae culpa id quisquam harum impedit
            %br
              sed sunt non obcaecati vero ipsam aut fugit?
        .col-xs-12.col-sm-3.col-md-3.col-lg-2
          .image2
          .yazi
            JIM WALKER
          .yazi2
            CEO of GeneriCorp

          .icon
            %i.fa.fa-star{"aria-hidden" => "true"}
            %i.fa.fa-star{"aria-hidden" => "true"}
            %i.fa.fa-star{"aria-hidden" => "true"}
            %i.fa.fa-star{"aria-hidden" => "true"}
            %i.fa.fa-star{"aria-hidden" => "true"}
      .carousel-caption


    %a.left.carousel-control{"data-slide" => "prev", :href => "#carouselll-example-generic", :role => "button"}
      %span.fa.fa-chevron-left{"aria-hidden" => "true"}


    %a.right.carousel-control{"data-slide" => "next", :href => "#carouselll-example-generic", :role => "button"}

      %span.fa.fa-chevron-right{"aria-hidden" => "true"}

%section#pricing
  %div{:style => "background:url('images/bg-pricing.jpg'); width:1000px; height:500px; background-size: cover;     background-attachment: fixed"}
    %br
    %br
    .about
      PRICING
    %hr
    %hr
    %br
    .about2
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eum, quae, laborum, voluptate delectus odio doloremque error porro obcaecati nemo
      %br
        animi ducimus quaerat nostrum? Ab molestiae eaque et atque architecto reiciendis.
    %br
    %section#pricingg
      .row.content-row
        .col-md-4
          .pricing-item.featured-first
            %h3 BASIC
            %hr
            %hr
            .price
              %span.number
                %sup> $
                25
              \/ month
            %ul.list-group
              %li.list-group-item 60 Users
              %li.list-group-item Unlimited Forums
              %li.list-group-item Unlimited Reports
              %li.list-group-item 3,000 Entries per Month
              %li.list-group-item 200 MB Storage
              %li.list-group-item Unlimited Support
              =link_to "#" ,:class => 'btn btn-black' do
                SING UP
        .col-md-4
          .pricing-item.featured
            %br
            %h3 PLUS
            %hr
            %hr
            .price
              %span.number
                %sup> $
                50
              \/ month
            %ul.list-group
              %li.list-group-item
                %strong 60
                Users
              %li.list-group-item Unlimited Forums
              %li.list-group-item Unlimited Reports
              %li.list-group-item
                %strong 3,000
                Entries per Month
              %li.list-group-item
                %strong 200 MB
                Storage
              %li.list-group-item Unlimited Support
              =link_to "#" ,:class => 'btn btn-black' do
                SIGN UP
        .col-md-4

          .pricing-item.featured-last
            %h3 PREMIUM
            %hr.colored/
            .price
              %span.number
                %sup> $
                150
              \/ month
            %ul.list-group
              %li.list-group-item 60 Users
              %li.list-group-item Unlimited Forums
              %li.list-group-item Unlimited Reports
              %li.list-group-item 3,000 Entries per Month
              %li.list-group-item 200 MB Storage
              %li.list-group-item Unlimited Support
              =link_to "#" ,:class => 'btn btn-black' do
                SIGN UP

  %section#pricinggg

    .black
      .yazi
        %br
        %br
        %br
        SUBBCRIBE TO OUR NEWSLETTER!
        %hr
        %hr

        .form-group
          %input.form-control{:placeholder => "Email address...", :type => "text"}
          %button.btn.btn-kirmizi{:type => "submit"} SUBSCRIBE!



%section#contact
  .about
    CONTACT US

  %hr
  %hr
    %br
  .about2
    Please tell us about your next project and we will let you know what we can do to help you.
  %br
%section#contactt
  %hr
  .writing
    Name
  %hr
  .writing
    Email Address
  %hr
  .writing
    Phone Number
  %hr
  .writing2
    Message

  %hr
  =link_to "#" ,:class => 'btn btn-black' do
    SEND


  %a{:href => "#",:class => 'btn btn-big'}
    .btn-big-yazi
      Buy Vitality Now!

  %div{:style => "background:url('images/bg-footer.jpg'); width:1000px; height:300px; background-size: cover;     background-attachment: fixed"}

    .container4
      .row
        %br
        .col-xs-4.col-sm-3.col-md-3.col-lg-2
          .white
            %i.fa.fa-phone{"aria-hidden" => "true"}
            CALL
          .white2
            555-213-4567
        .col-xs-4.col-sm-3.col-md-3.col-lg-2
          .white
            %i.fa.fa-map-marker{"aria-hidden" => "true"}
            VISIT
          .white2
            3481 Melrose Place
            %br
            Beverly Hills, CA 90210
        .col-xs-4.col-sm-3.col-md-3.col-lg-2
          .white
            %i.fa.fa-envelope{"aria-hidden" => "true"}
            EMAİL
          .white2
            %a{:href => "#",:class => 'btn btn'}
              %span mail@example.com
    .container5
      .row
        .col-xs-4.col-sm-3.col-md-3.col-lg-2
          %a{:href => "#"}
            %font{:color => "white"}
              %i.fa.fa-linkedin.fa{"aria-hidden" => "true"}


          .col-xs-4.col-sm-3.col-md-3.col-lg-2
            %a{:href => "#"}
              %font{:color => "white"}
                %i.fa.fa-twitter.fa{"aria-hidden" => "true"}
          .col-xs-4.col-sm-3.col-md-3.col-lg-2
            %a{:href => "#"}
              %font{:color => "white"}
                %i.fa.fa-facebook.fa{"aria-hidden" => "true"}

